.mn-dialog-shadow{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(245,245,245,0.5);

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
}

.mn-dialog{
    position: relative;
    width: 600px;
    max-width: 100%;
    max-width: calc(100% - 20px);
    margin: 50px auto;
    padding: 40px;
    background: #f9f9fb;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.mn-dialog-shadow-open{ display: block; }

.mn-dialog header{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.mn-dialog header h3{
    padding: 0;
    margin: 0 0 35px 0;
    font-size: 26px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
    color: #444444;
}

.mn-dialog main textarea,
.mn-dialog main input,
.mn-dialog main select{
    display: block;
    background: white;
    width: 100%;
    padding: 8px;
    margin: 0 auto 15px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.mn-dialog main textarea:focus,
.mn-dialog main input:focus,
.mn-dialog main select:focus{
    outline-color: #aaaaaa;
}

#mn-dialog-errors{
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
}
#mn-dialog-errors li{
    display: block;
    color: red;
    font-size: 14px;
}

.mn-dialog footer{
    overflow: hidden;
    margin-top: 40px;
    border-top: 1px solid #cccccc;
}

.mn-dialog footer button,
.mn-dialog footer a{
    cursor: pointer;
    float: right;
    line-height: 1.2em;
    padding: 5px 10px;
    margin: 20px 0 0;
    background: transparent;
    border: none;
    color: #444444;
    font-weight: normal;
    font-size: 15px;
    font-family: Arial, Verdana, sans-serif;
    text-transform: uppercase;
    overflow: hidden;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mn-dialog footer button img{
    display: none;
    margin: 0 5px;
    float: right;
}